# Meu primeiro notebook pyhton

## Vamos importar as bibliotecas que usaremos para as Regras de Associação

## Primera Forma de Fazer (sem ler arquivo externo)

In [4]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

**Criar a variável com os dados**

In [5]:
dados = [
    ['leite', 'cerveja', 'pao', 'manteiga'],
    ['cafe', 'pao', 'manteiga'],
    ['cafe', 'pao', 'manteiga'],
    ['leite', 'cafe', 'pao', 'manteiga'],
    ['cerveja'],
    ['manteiga'],
    ['pao'],
    ['feijao'],
    ['arroz', 'feijao'],
    ['arroz']
]

**Transformar os dado de forma que o algoritmo apriori consiga trabalhar**

In [21]:
te = TransactionEncoder() #quando usa os dados na forma acima te que fazer isso
arr = te.fit(dados).transform(dados) #transformando os dados
df = pd.DataFrame(arr, columns=te.columns_) #jogando os dados num DataFrame
df #imprimindo o dataframe

   arroz   cafe  cerveja  feijao  leite  manteiga    pao
0  False  False     True   False   True      True   True
1  False   True    False   False  False      True   True
2  False   True    False   False  False      True   True
3  False   True    False   False   True      True   True
4  False  False     True   False  False     False  False
5  False  False    False   False  False      True  False
6  False  False    False   False  False     False   True
7  False  False    False    True  False     False  False
8   True  False    False    True  False     False  False
9   True  False    False   False  False     False  False

In [20]:
#calculando o suporte
suportes = apriori(df, min_support=0.3, use_colnames=True)
suportes #imprime os suportes

   support               itemsets
0      0.3                 (cafe)
1      0.5             (manteiga)
2      0.5                  (pao)
3      0.3       (cafe, manteiga)
4      0.3            (cafe, pao)
5      0.4        (manteiga, pao)
6      0.3  (cafe, pao, manteiga)